<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>720888700904-sl9jc6sgnneksfpfjla29usjn85t4pjo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.720888700904-sl9jc6sgnneksfpfjla29usjn85t4pjo</string>
	<key>API_KEY</key>
	<string>AIzaSyABRis6dBLebyqoapcZnl95HCPPB426tSY</string>
	<key>GCM_SENDER_ID</key>
	<string>720888700904</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.antmilner.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flashchat-427cb</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-427cb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:720888700904:ios:e372ebd492fd9500</string>
	<key>DATABASE_URL</key>
	<string>https://flashchat-427cb.firebaseio.com</string>
</dict>
</plist>